<% beer.sort((a, b)=> {%>
<% return  b.likes - a.likes; %>
<% }); %>
<% beer.forEach(beer => {%>
  <div class="col col-sm-3">
    <div class="thumbnail profileBeers">
      <h4><a class="imp" href="beer/<%= beer._id %>"><%= beer.name %></a></h4>
      <a href="beer/<%= beer._id %>"><img class="beerProfilePic img-rounded" src="/uploads/<%= beer.pic_name %>" width=100/></a>
      <p><%= beer.style %></p>
      <p><%= beer.likes %> likes</p>
    </div>
  </div>

    <!-- <% if(beer.standardReferenceMethod>0 && beer.standardReferenceMethod<10) {%>
  <p style="background-color:#FFFF00;"> SRU:
    <% }%>
    <% if(beer.standardReferenceMethod>10 && beer.standardReferenceMethod<25) {%>
  <p style="background-color:#DBA901;"> SRU:
    <% }%>
    <% if(beer.standardReferenceMethod>25 && beer.standardReferenceMethod<30) {%>
  <p style="background-color:#61380B; color:white;"> SRU:
    <% }%>
    <% if(beer.standardReferenceMethod>30) {%>
  <p style="background-color:#191007; color:white;"> SRU:
    <% }%>
    <%= beer.standardReferenceMethod %>
  </p> -->

<% }) %>
