<div class="row" id="wholeProfile">
  <div class="col-md-3">
    <img src="/uploads/<%= user.pic_name %>" alt="profile pic" id="profile-pic" class="img-resposive img-rounded">
  </div>
  <div class="col-md-7" id="profileData">
    <h2 class="imp">
      <%= user.name %>
    </h2>
    <p>
      <a href="mailto:<%= user.username %>"><%= user.username %></a>
    </p>
    <p>
      <a href="<%= user.web %>"><%= user.web %></a>
    </p>
    <p>
      <%= user.yearFounded %>
    </p>
    <p>
      <%= user.location %>
    </p>
    <p>
      <%= user.phone %>
    </p>
    <p>
      <%= like[0].beer_id %>

    </p>
  </div>
  <div class="col-md-2">
    <% if(user.role== "BREWERY") {%>
    <a href="/beer/new" class="btn btn-success" id="addBeerButton">Add Beer</a>
    <% }%>
  </div>
</div>

<% if(user.role== "BREWERY") {%>
<div class="beerProfileContainer">
<% beer.forEach(beer => {%>
  <div class="col col-sm-3">
    <div class="thumbnail profileBeers">
      <h4><a class="imp" href="beer/<%= beer._id %>"><%= beer.name %></a></h4>
      <a href="beer/<%= beer._id %>"><img class="beerProfilePic img-rounded" src="/uploads/<%= beer.pic_name %>" width=100/></a>
      <p><%= beer.style %></p>
      <p><%= beer.likes %> likes</p>
    </div>
  </div>
<% }) %>
</div>
<% }%>
