<h2><%= beer.name %></h2>
<h3><%= beer.style %></h3>
<p><%= beer.standardReferenceMethod %></p>
<p><%= beer.alcoholByVolume %></p>
<p><%= beer.internationalBitteringUnits %></p>
<p><%= beer.standardReferenceMethod %></p>
<!-- brewery, ratings, numberOfRatings --> 
