<h2><%= beer.name %></h2>
<h4><%= beer.style %></h4>
<!-- brewery -->
<p>SRU: <%= beer.standardReferenceMethod %></p>
<p>ABV: <%= beer.alcoholByVolume %></p>
<p>IBU: <%= beer.internationalBitteringUnits %></p>
<p><%= beer.description %></p>
<br>
<form action="/beer/<%= beer._id %>/edit" method="GET">
  <button type="submit">Edit</button>
</form>
<form action="/beer/<%= beer._id %>/delete" method="POST">
  <button type="submit">Delete</button>
</form>
<p><span class="total"><%= beer.votes %></span> likes</p>
<form action="/like" method="POST">
  <button type="submit" name="vote" id="vote">Like</button>
</form>
<script type="text/javascript">
  var beerInfo = <%- JSON.stringify({
    currentBeer: beer,
    currentUser: user
    }) %>;
</script>
